:root {
  --color-accent: rgb(216, 222, 228);
  --color-text1: black;
  --color-text2: #6d9bf5;
  --color-p: #595959;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  /* background-color: #e5e5e5; */
}
ol,
ul {
  padding: 0;
  margin: 0;
}
h3 {
  margin: 5px;
}
.wrapper {
  margin: 40px auto;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  max-width: 1200px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main {
  padding: 105px 40px 107px 88px;
}
.main-container {
  max-width: 525px;
  width: 100%;
}
/* about */
.about {
  margin-bottom: 64px;
}
.about__subtitle {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 14px;
}
.about__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 45px;
}
.text__p {
  font-size: 14px;
  color: var(--color-p);
}
.cont {
  margin-left: 60px;
  margin-right: 60px;
  max-width: 600px;
}
/* accordion */
.acc__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-accent);
}
.icon-down-open {
  transition: 0.3s linear;
  user-select: none;
  cursor: pointer;
  transform: rotate(180deg);
}
._arrow-up {
  transform: rotate(360deg);
}
._close {
  display: none;
}

/* project */
.project,
.exp {
  margin-bottom: 50px;
}
.acc__info {
  padding-top: 15px;
}
.project ol,
.exp ul,
.education ul,
.sidebar ul {
  padding-left: 15px;
}
.project li a {
  margin-left: 10px;
}
.line1,
.line2,
.line3 {
  content: '';
  display: inline-block;
  height: 1px;
  border-bottom: 2px dotted var(--color-p);
  width: 100%;
}
.line1 {
  max-width: 175px;
}
.line2 {
  max-width: 92px;
}
.line3 {
  max-width: 164px;
}
.technology {
  display: inline;
}
.project li::marker {
  font-weight: 700;
  color: var(--color-text1);
}
.project__title {
  font-weight: 700;
  font-size: 22px;
}

.project_description {
  max-width: 410px;
  margin: 5px 25px;
}

/* experience */
.exp_subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}
.exp_subtitle span {
  color: var(--color-text2);
}
.exp__years {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
}
/* education */
.education li::marker,
.sidebar li::marker {
  color: var(--color-text2);
}
.education__place {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-text2);
}
.education__job {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text1);
}
/* sidebar */
.sidebar {
  padding-top: 40px;
  background-color: var(--color-accent);
}
.sidebar img {
  max-width: 370px;
  width: 100%;
}
.sidebar p {
  font-size: 20px;
}
.sidebar p a {
  color: #0c055b;
  margin-left: 12px;
  font-size: 14px;
}
.sidebar-item {
  margin-bottom: 44px;
  padding-left: 40px;
}
.sidebar-item:last-child {
  margin-bottom: 0;
}
.sidebar-item p {
  margin-top: 0;
  margin-bottom: 8px;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}
.sidebar-h3 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 22px;
}
.sidebar ul {
  margin-left: 12px;
  font-size: 14px;
  line-height: 24px;
}

.arrow-up {
  font-size: 25px;
  color: var(--color-p);
}
